body {
  background-color: grey;
} /*Created style for body*/

nav {
  border-width: 2px;
  border-style: solid;
  border-color: #00004d;
  padding: 5px;
  text-align: center;
  font-family: Courier;
}

ul {
  margin: 10px;
  background-image: url(bg-pattern.png);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: Courier;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  font-family: Courier;
  color: #00004d;
}

h1 {
  font-family: Courier;
  color: #00004d;
}

a {
  font-family: Courier;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: blue;
}

a:visited {
  color: white;
}

.underline {
  text-decoration: underline;
}

.center-align {
  text-align: center;
}

.shadow-text {
  text-shadow: 2px 2px #ffffff;
}

img.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#body-links {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  font-family: Courier;
  color: #00004d;
  display: inline-block;
  margin-left: 32%;
  margin-right: 32%;
  width: 35%;
}

fieldset {
  border-width: 2px;
  border-color: white;
  border-style: solid;
  margin: 5px;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  form {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  ul {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  a {
    font-size: 12px;
  }
}